<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="product-full.css">
    <title>Buy White forest Cake</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <img class="logo" src="/images/logo.png" alt="Logo" />
        <h3>Sweet Bites</h3>
        <nav>
          <ul>
            <li>My Account</li>
            <li>My Cart</li>
          </ul>
        </nav>
      </div>
      <div class="content">
        <div class="image">
          <img src="/images/chocolatecake-1.jpg" alt="" />
        </div>
        <div class="text">
        <div class="details">
          <h4>White forest Cake <span class="rating"> <img src="./images/Vector.png" alt=""> 4</span></h4>
          <p>
            <span class="og-price">₹ 699</span>
            <span class="dis-price">₹ 799</span>
            <span class="discount">13% off</span>
          </p>
        </div>
        <div class="weight">
          <p class="choose">Choose Weight</p>
          <p class="kg">
            <span>0.5kg</span>
            <span>1 k.g</span>
            <span>2 k.g</span>
            <span>4 kg</span>
          </p>
        </div>
        <div class="check">
          <p>Check availablity</p>
          <input type="text" name="" id="" />
          <button>Check</button>
        </div>

        <div class="buttons">
          <button>Buy Now</button>
          <button>Add to Cart</button>
        </div>

        <div class="description">
          <span>Description</span>
          <p>
            Lip-smacking, scrumptious, undeniably leaving you craving for more,
            this Cake spells 'desire'.
          </p>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
